/* 
---------------------------------------------
community insert Board & update Board Style
--------------------------------------------- 
*/ 

.insert {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insert .insert-section {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  width: 1200px; /* 조절된 부분: 기존 1000px에서 1200px로 변경 */
  margin: 0 auto; /* 중앙 정렬을 위해 추가 */
}


.insert .heading-section{
  width: 900px;
  margin-top: 50px;
}
.insert .heading-section h4{
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500px;
}
.insert .heading-section h5{
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}
.insert .link-block {
   position: relative;
    justify-content: center;
    align-items: center;
   text-align: center;
   margin-left: 10px;   
}

.insertMovie {
   font-size: 20px;
   color: #080808;
   font-weight: 400;
   margin-top: 50px;
   border-spacing: 0 10px;
   text-align: center;
}
.insertBoard table{
  width: 200%; 
  max-width: 950px; 
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 30px;
}

.insertBoard tr, .insertBoard td {
    padding: 15px;
}
.insert form select {
  display: block;
  width:750px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: #f7f7f7;
  opacity: 90%;
  color: #666;
  padding: 0 0 0 15px;
  font-size: 20px;
}

.insert form .input-table input {
  display: block;
  width:750px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: #f7f7f7;
  opacity: 90%;
  color: #666;
  padding: 0 0 0 15px;
  font-size: 20px;
}
 .insert form .input-table input:focus,
 .insert form .input-table input:active {
  outline: none;
  border: none;
  color: rgba(15, 19, 42, 1);
}
.insert form .input-table textarea {
  display: block;
  width:750px;
  height: 350px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: #f7f7f7;
  opacity: 90%;
  color: #666;
  padding: 0 0 0 15px;
  font-size: 20px;

}

 .insert form .insert_btn {
  background: #FFB2B2;
  color: #1e1e1e;
  display: block;
  width: 100%;
  max-width: 200px;
  height: 45px;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500px;
  transition: 0.2s linear;
  margin: 0 auto;
 }
  .insert form .insert_btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #1e1e1e;
}