/*

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
	display: block;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #1e1e1e;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #ccc;
	text-decoration: none !important;
}

a:hover {
	color: #F99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	font-weight: 700;
}

ul {
	margin-bottom: 0px;
}

p {
	font-size: 15px;
	line-height: 30px;
	color: #fff;
}

img {
	width: 100%;
	overflow: hidden;
}


/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
	background: #1f2122;
	font-family: 'Poppins', sans-serif;
}

body .page-content {
	margin-top: 110px;

	padding: 60px;
	border-radius: 23px;
}

p {
	font-size: 15px;
	color: #666;
	line-height: 30px;
	margin-bottom: 0px;
}

hr {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	border-color: #666;
}

::selection {
	background: #9ADBE8;
	color: #fff;
}

::-moz-selection {
	background: #9ADBE8;
	color: #fff;
}

.templatemo-item {
	max-width: 80px;
	border-radius: 23px;
}

.main-button a {
	font-size: 14px;
	color: #1e1e1e;
	background-color: #9ADBE8;
	padding: 5px 8px;
	display: inline-block;
	border-radius: 25px;
	font-weight: 600;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.main-button a:hover {
	background-color: #fff;
	color: #1e1e1e;
}

.main-border-button a {
	font-size: 14px;
	color: #ec6090;
	background-color: transparent;
	border: 1px solid #ec6090;
	padding: 12px 30px;
	display: inline-block;
	border-radius: 25px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.main-border-button a:hover {
	border-color: #fff;
	background-color: #fff;
	color: #1e1e1e;
}

.border-no-active a {
	margin-left: 5px;
	padding: 3px 5px;
	border-color: #666;
	color: #666;
	font-size: 14px;
	border-radius: 20px;
}

.border-no-active a:hover {
	border-color: #666;
	color: #666;
	background-color: transparent;
}

section {
	margin-top: 120px;
}

.heading-section h4 em {
	color: #ec6090;
	font-size: 34px;
	text-decoration: none;
	margin-bottom: 30px;
}

.heading-section h4 {
	color: #fff;
	font-style: normal;
	padding-bottom: 10px;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.99);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	opacity: 1;
	visibility: visible;
	z-index: 9999;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.js-preloader.loaded {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

@-webkit-keyframes dot {
	50% {
		-webkit-transform: translateX(96px);
		transform: translateX(96px);
	}
}

@keyframes dot {
	50% {
		-webkit-transform: translateX(96px);
		transform: translateX(96px);
	}
}

@-webkit-keyframes dots {
	50% {
		-webkit-transform: translateX(-31px);
		transform: translateX(-31px);
	}
}

@keyframes dots {
	50% {
		-webkit-transform: translateX(-31px);
		transform: translateX(-31px);
	}
}

.preloader-inner {
	position: relative;
	width: 142px;
	height: 40px;
	background: transparent;
}

.preloader-inner .dot {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 12px;
	left: 15px;
	background: #9ADBE8;
	border-radius: 50%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-animation: dot 2.8s infinite;
	animation: dot 2.8s infinite;
}

.preloader-inner .dots {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	margin-top: 12px;
	margin-left: 31px;
	-webkit-animation: dots 2.8s infinite;
	animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 16px;
	background: #9ADBE8;
	border-radius: 50%;
}



/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

/*
*** background-header ***
*/
.background-header {
	background-color: #27292a;
	flood-opacity: 50%;
	height: 90px !important;
	position: fixed !important;
	top: 20px !important;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}


.background-header .main-nav {
	padding: 0px;
	background-color: transparent;
}

.background-header .upper-nav {
	padding: 0px;
	background-color: transparent;
}

.background-header .main-nav .logo {
	margin-top: 5px;
}

.background-header .main-nav .logo img {
	width: 180px;
}


.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active{
  color: #fff;
  opacity: 1;
}

.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #e75e8d;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #e75e8d;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #e75e8d;
}
.background-header .main-nav .menu-trigger.active span:after {
  background-color: #e75e8d;
}


.header-area {
	background-color: transparent;
	position: absolute;
	height: 900px;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 100;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.header-area .main-nav {
	min-height: 80px;
	background: transparent;
	display: flex;
	padding: 15px 0px;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.header-area .upper-nav {
	display: flex;
	flex-basis: 70%;
	justify-content: flex-end;
	vertical-align: middle;
	text-align: right;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding: 0px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	z-index: 999;
}

.header-area .upper-nav li {
	font-size: 14px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
}

.header-area .main-nav #search {
	margin-top: 10px;
	position: relative;
}

.header-area .main-nav #search input {
	background-color: #1e1e1e;
	height: 46px;
	border-radius: 23px;
	border: 3px solid #353637;
	color: #666;
	font-size: 18px;
	padding: 0px 0px 0px 100px;
}

.header-area .main-nav #search i {
	position: absolute;
	color: #666;
	left: 10px;
	top: 16px;
	width: 18px;
	height: 18px;
	font-size: 16px;
}

.header-area .main-nav .logo {
	flex-basis: 25%;
	margin-right: 5%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
	width: 200px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 0px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 13px 10px;
  border-radius: 18px;
  letter-spacing: .3px;
}

.header-area .main-nav .nav li:last-child a {
	background-color: #27292a;
	padding: 8px 10px 8px 20px;
	border-radius: 23px;
}

.header-area .main-nav .nav li:last-child a img {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
	color: #9ADBE8 !important;
}

.header-area .main-nav .nav li:last-child:hover a,
.header-area .main-nav .nav li:last-child a.active {
	color: #fff !important;
	background-color: #9ADBE8 !important;
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #e75e8d;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #e75e8d;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #e75e8d;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #e75e8d;
}


.header-area.header-sticky {
	min-height: 90px;
}

.header-area.header-sticky .nav li a.active {
  color: #fff;
}
@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
/*
*** background-header ***
*/
/*
.background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  */
	
  .header-area {
    top: 0;
  }
  
  .header-area hr {
	visibility: hidden;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }
  
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #e75e8d!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 65px !important;
    text-align: center;
  }
 
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
    color: #e75e8d!important;
  }
  .header-area .main-nav .nav li:last-child a img {
    display: none;
  }
  .header-area .main-nav .nav li:last-child a:hover {
    color: #ec6090 !important;
    background-color: transparent !important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.owl-banner {
	position: relative;
}

.owl-banner .banners {
	position: relative;
	background-position: center center;
	background-size: cover;
	height: 430px;
	border-radius: 23px;
	padding: 80px 60px;
}

.owl-banner h6 {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 25px;
}

.owl-banner h4 {
	font-size: 45px;
	margin-bottom: 25px;
}


.owl-banner .nav-button {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  top: 45%; 
  transform: translateY(-50%); 
  height: 120px;
  width: 120px;
  cursor: pointer;
  position: absolute;
  color: #fff;
  opacity: 80%;
  background: center center;
}

.owl-banner .nav-button.owl-prev,
.owl-banner .nav-button.owl-next {
  font-size: 120px; 
  font-weight: 800px;
}

.owl-banner .owl-prev {
  justify-content: center;
  align-items: center;
  left: 20px;
}
.owl-banner .owl-next {
  justify-content: center;
  align-items: center;
  right: 20px;
}



/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer p {
	text-align: center;
	padding: 30px 0px;
	color: #fff;
	font-weight: 300;
}

footer p a {
	color: #fff;
	transition: all .3s;
}

footer p a:hover {
	color: #ec6090;
}

/* 
---------------------------------------------
Featured contents Style
--------------------------------------------- 
*/

.featured-contents {
	border-radius: 23px;
	background-color: #1f2122;
	padding: 10px;
}

.featured-contents .item .thumb {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.featured-contents .item .thumb .hover-effect {
	position: absolute;
	bottom: -100px;
	text-align: center;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .4s;
}

.featured-contents .item .thumb:hover .hover-effect {
	opacity: 1;
	visibility: visible;
	bottom: 15px;
}

.featured-contents .item .thumb .hover-effect h6 {
	background-color: rgba(31, 33, 34, 0.95);
	display: inline-block;
	color: #9ADBE8;
	font-weight: 600;
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 25px;
}

.featured-contents .item .thumb img {
	border-radius: 5px;
}

.featured-contents .item h4 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
}

.featured-contents .owl-features .owl-nav{
	position:absolute;
	display: flex;
	right: 0;
	top: -30px;
}

.featured-contents .owl-features .owl-nav i{
	width: 30px;
}

/* 
---------------------------------------------
Featured Banner Style
--------------------------------------------- 
*/
.feature-banner {
	background-position: center center;
	background-size: cover;
	min-height: 380px;
	border-radius: 5px;
	padding: 80px 60px;
}

.feature-banner .header-text{
	position: relative;
	margin-top: 250px;
}

.feature-banner h6 {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 25px;
}

.feature-banner h4 {
	color: #fff;
	font-size: 45px;
	margin-bottom: 25px;
}


.feature-banner .play {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  }
  
.feature-banner .play-text {
	font-size: 36px;
	color: #fff;
	font-weight: 600;
}
  
.feature-banner:hover {
  filter: brightness(60%);
}

.feature-banner:hover .play {
  opacity: 1;
}


/* 
---------------------------------------------
detail information Style
--------------------------------------------- 
*/

.detail-table {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	margin-top: 100px;
	border-spacing: 0 10px;
}

.detail-table table{
  width: 900px;
  margin-left: 50px;
  border-collapse: separate;
  border-spacing: 0 30px;
}

.detail-table table tr .em{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}


/* 
---------------------------------------------
Profile Style
--------------------------------------------- 
*/

.main-profile {
	border-radius: 23px;
	padding: 30px;
	margin-top: 20px;
	background-color: #27292a;
	border-width: 10px;
	border-color: #1e1e1e;
	width: 100%;
}

.main-profile img {
	border-radius: 180px;
	width: 230px;
	height: 230px;
	margin-left: 25px;
	margin-top: 10px;
}

.main-profile span {
	font-size: 14px;
	color: #fff;
	background-color: #9ADBE8;
	padding: 8px 20px;
	display: inline-block;
	border-radius: 25px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

.main-profile .main-info {
	width:400px
}

.main-profile .main-border-button, .main-info{
	margin-left: 100px;
}

.main-profile .main-info .header-text {
	margin-top: 30px;
}

.main-profile .main-info h4 {
	margin-top: 10px;
	margin-bottom: 30px;
}

.main-profile .main-info h4 em{
	margin-bottom: 5px;
	color: #ec6090;
}
.main-profile .main-info h6 em{
	font-size: 16px;
	font-weight: 400px;
	color: #9ADBE8;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.main-profile .main-info h6 {
	font-size: 14px;
	font-weight: 400px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.main-profile .main-border-button {
	margin-top: 40px;
}

.main-profile .main-info span {
	background-color: #27292a;
	font-size: 14px;
	font-weight: 400px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}


.clips {
	margin-top: 30px;
}

.clips .heading-section {
	margin-top: 30px;
}

.clips .item {
	border-radius: 23px;
	padding: 30px 15px;
	background-color: #27292a;
	margin-bottom: 30px;
}

.clips .item .thumb {
	position: relative;
	margin-bottom: 15px;
}

.clips .item h4 {
	font-size: 15px;
	display: inline-block;
}

.clips h4 em{
	font-size: 20px;
	margin-bottom: 10px;
	color: #ec6090;
}
.clips h6 {
	margin-bottom: 10px;
}


.clips .item span i {
	color: #ec6090;
}

.clips .item span {
	float: right;
	color: #fff;
	font-size: 14px;
}

.clips .main-button {
	margin-top: 10px;
	text-align: center;
}

/*
---------------------------------------------
Login Style
--------------------------------------------- 
*/

.login {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-section {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #353637;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.login .heading-section{
  width: 330px;
  margin-top: 50px;
}

.login .heading-section h2{
  text-align: center;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 500px;
}

.login .heading-section h4{
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.login .form-section {
  width: 330px;
  margin-top: 10px;
}

.login .form {
  width:100%;
  max-width:330px;
  margin: 0 auto;
}

.login form .input_block {
  margin: 20px 5px;
  display: block;
  position: relative;
  border-radius: 15px;
}

.login form .input_block input {
  display: block;
  width: 120%;
  max-width: 330px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: #f7f7f7;
  opacity: 90%;
  color: #666;
  padding: 0 0 0 15px;
  font-size: 14px;
}

 .login form .input__block input:focus,
 .login form .input__block input:active {
  outline: none;
  border: none;
  color: rgba(15, 19, 42, 1);
}

 .login form .signin_btn {
  background: #9ADBE8;
  color: #1e1e1e;
  display: block;
  width: 100%;
  max-width: 680px;
  height: 45px;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500px;
  transition: 0.2s linear;
  position: relative;
  justify-content: center;
  align-items: center;
}

 .login form .signin_btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #1e1e1e;
}

.login .link-block {
	position: relative;
    justify-content: center;
    align-items: center;
	text-align: center;
	margin-left: 10px;
}

.login .separator,
.join .separator {
  display: block;
  margin: 30px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  align-items: center;
  text-align: center;
  background: transparent;
  width: 90%;
  max-width: 680px;
  color: #f7f7f7;
  font-size: 18px;
}

.login .separator::before,
.login .separator::after,
.join .separator::before,
.join .separator::after {
  content: "";
  position: absolute;
  top: 13px;
  background:  #f7f7f7;
  height: 1px;
  width: 25%;
}

.login .separator::before,
.join .separator::before {
  left: 0;
}

.login .separator::after,
.join .separator::after {
  right: 0;
}

.login .google__btn,
.join .google__btn {
  display: inline-block;
  align-items: center;
  width: 70px;
  margin: 10px auto;
  height: 70px;
  cursor: pointer;
  border-radius: 180px;
  border: none;
  line-height: 40px;
}

.login .google__btn .fa,
.join .google__btn .fa {
  font-size: 20px;
}

.login .google__btn,
.join .google__btn {
  background: #f7f7f7;
  transition: 0.2s linear;
}

.login .google__btn:hover,
.join .google__btn:hover {
  box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}

/*
---------------------------------------------
Join Style
--------------------------------------------- 
*/

.join {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join .join-section {
  background-color: #353637;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 40px;
  padding-top: 20px;
}

.join .heading-section{
  width: 90%;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.join .heading-section h2{
  margin-bottom: 15px;
  font-weight: 400px;
  line-height: 1.8;
}

.join .join-form {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.join .join-form form{
  display: flex;
  flex-direction: column;
  margin-left: 15%
 }


.join form .input_block {
  margin: 10px 5px;
  display: block;
  position: relative;
  border-radius: 15px;
}

 .join .input_block .password_ck{
  display: none;
}

.join form .input_block input {
  display: block;
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #f7f7f7;
  opacity: 90%;
  color: #666;
  padding: 0 0 0 15px;
  font-size: 14px;
}

.join form .input_block .join-info {
  margin-top: 15px;
  display: block;
  position: relative;
  color: #f7f7f7;
  opacity: 50%;
  width: 80%;
}


 .join form .input__block input:focus,
 .join form .input__block input:active {
  outline: none;
  border: none;
  color: rgba(15, 19, 42, 1);
}

.join form .ck-button input {
    font-size: 20px;
	color: #ec6090;
	background-color: transparent;
	border: 1px solid #ec6090;
	display: inline-block;
	border-radius: 8px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all .3s;
	position: relative;
	justify-content: center;
    align-items: center;
	overflow: hidden;
	cursor: pointer;
	width: 80%;
  	height: 45px;
  	margin-top: 30px;
}

 .join form .ck-button input:hover {
  border-color: #fff;
  background-color: #fff;
  color: #1e1e1e;
}

/* 
---------------------------------------------
Community Style
--------------------------------------------- 
*/

.community{
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

.community .heading {
  flex-direction: column;
}

.community .search-section{
  background-color: #353637;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.community #search {
	display: block;
	margin-top: 10px;
	position: relative;
}

.community .search-input {
	margin-right: 100px;
}

.community #search input {
	width: 150%;
	background-color: #1e1e1e;
	height: 50px;
	border-radius: 23px;
	border: 3px solid #666;
	color: #f7f7f7;
	font-size: 18px;
	padding-left: 60px;
}

.community #search i {
	position: absolute;
	color: #666;
	left: 15px;
	top: 16px;
	width: 18px;
	height: 18px;
}

.community .main-button {
  margin-left: 100px; 
}

.community .main-button a {
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
	display: block;
	padding: 20px 15px;
}

.community .hot-post{
	width: 100%;
	margin-bottom: 20px;
}

.community .hot-post-section {
	margin-top: 10px;
	width: 80%;
	height: 200px;
}

.community .post-mini {
	background-color: #353637;
	border: 5px solid #1e1e1e;
	border-radius: 8px;
	padding: 15px 20px;
	width: 230px;
	height: 180px;
	display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 5px;
    overflow: hidden;
}

.community .post-mini .item,
.community .board .item {
	width: 40px;
	font-size: 10px;
	font-weight: 600;
	padding: 3px 5px;
	border: 3px solid #ec6090;
	border-radius: 25px;
	color: #ec6090;
	align-self: center;
	text-align: center;
}

.community .post-mini h4 {
  margin-top: 15px;
  overflow: hidden;
}

.community .post-mini:hover {
	background-color: #27292a;
	border: 5px solid #9ADBE8;
	color: #9ADBE8;
}

.community .post-mini:hover h4,
.community .board:hover h4 {
  color: #9ADBE8;
}

.community .post-mini-bottom {
  margin-top: auto;
}

.community .post-mini-bottom i,
.community .board-info .post-mini-bottom i{
  width: 18px;
  height: 10px;
  margin-right: 20px;
}

.community .heading-section {
	align-items: flex-start;
	margin-bottom: 10px;
}

.community .content-board{
  border: 3px solid #353637;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.community .category-section{
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center; 
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.community .item a {
	font-size: 14px;
	font-weight: 600;
	margin-right: 30px;
	margin-left: 30px;
	padding: 7px 14px;
	border: 5px solid #ec6090;
}

.community .board-section {
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 0px;
}

.community .board {
	width: 640px;
	position: relative;
	display: flex;
    align-items: center; 
    border-bottom: 2px solid #353637;
    border-top: 2px solid #353637;
    color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.community .board-info {
  margin-right:20px;
  margin-left: 20px;
  width:60%;
}

.community .board-info h4, span {
  overflow: hidden;
}

.community .id {
  margin-top: -60px;
  width: auto;
}

.community .board:hover {
	background-color: #27292a;
	color: #9ADBE8;
}

.hot-post .owl-features .owl-nav button{
	position:absolute;
	display: flex;
	right: 0;
	top: -15px;
}

.hot-post .owl-features .owl-nav i{
	width: 50px;
}


/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
	overflow-x: hidden;
}

@media (max-width: 992px) {
	body .page-content {
		padding: 0px 30px;
	}

	.owl-banner {
		text-align: center;
	}

	.owl-banner h4 {
		font-size: 35px;
	}

	.gaming-library .item ul li,
	.gaming-library .item ul li:first-child,
	.gaming-library .item ul li:last-child {
		width: 100% !important;
		text-align: center !important;
	}

	.gaming-library .item ul li {
		margin-top: 30px;
	}

	.top-downloaded ul li .download i {
		top: 20px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.top-downloaded ul li img {
		margin-right: 10px;
	}

	.top-downloaded ul li span {
		font-size: 14px;
	}

	.top-streamers ul li .main-button {
		float: none;
		margin-top: 10px;
	}

	.top-streamers ul li .main-button a {
		width: 100%;
		text-align: center;
	}

	.top-streamers,
	.top-downloaded {
		max-height: 100%;
		min-height: 100%;
	}

	.most-popular .item .inner-item {
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	/*
	.background-header {
		display: inline-block;
	}
	*/
	

	.header-area .main-nav #search {
		display: none;
	}

	.heading-section h4 {
		font-size: 20px;
	}

	.gaming-library .item ul li {
		width: 48% !important;
	}

	.gaming-library .item ul li:last-child {
		text-align: left;
	}

	.featured-games {
		margin-bottom: 60px;
	}

	.start-stream .item {
		margin: 15px 0px;
	}

	.feature-banner .thumb {
		margin-top: 30px;
	}

	.main-profile .main-info {
		margin: 45px 0px;
	}
}

@media (max-width: 1200px) {
	.header-area .main-nav .nav li {
		padding-right: 5px;
		padding-left: 5px;
	}

	.header-area .main-nav .logo {
		margin-right: 30px;
		border-right: none;
	}

	.gaming-library .item tr td {
		width: 16%;
	}
}