<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>


<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
        
        	<h4>신작 콘텐츠 및 이벤트 정보 수신 동의</h4><br>
        	<div th:style="'color: white'"><p>1. 개인정보의 수집·이용 목적
회사는 방송 콘텐츠 정보(신작, 인기, 추천, 이벤트 등)와 신작 영화, 해외드라마, 애니 등의 콘텐츠 정보의 안내, 이벤트 및 프로모션 참여 기회의 안내 등을 목적으로 다음과 같이 광고성 정보를 전송할 수 있습니다. 다음 목적 이외의 용도를 개인정보를 처리하거나, 이용 목적을 변경하는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행합니다.<br>

· 서비스 이용 통계 분석을 통한 맞춤형 서비스(광고 포함) 및 콘텐츠 제공<br>
· 이벤트·마케팅 프로모션 등의 정보 및 참여 기회의 제공, 이벤트 응모 및 경품 추첨</p>


<p>2. 개인정보의 수집·이용 항목<br>

회원번호, 생년월일, 성별, 휴대폰번호, 이메일정보, 서비스 이용기록, 광고성 정보 수신 채널(이메일, SMS, PUSH)를 수집·이용합니다.<br>
* 회사는 이용자의 사전 동의 없이 영리 목적의 광고성 정보를 전송하지 않으며, 해당 내용을 전송하는 경우 관련 법령이 정하는 방법을 준수하고 필요한 조치를 취합니다.</p>



<p>3. 개인정보의 보유·이용 기간<br>

회사는 서비스 혼선 방지 및 회원 정보 복구 요청 대응을 위하여 내부방침에 따라 처리 목적의 달성, 동의철회 또는 회원탈퇴 시까지 회원의 개인정보를 보관합니다.<br> 다만, 별도의 동의를 얻은 경우 또는 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도로 분리하여 저장·관리합니다.<br>

[내부방침에 의한 경우]<br>
구분	처리 정보 항목	처리 목적 및 보관사유	기간<br>

서비스 이용기록<br>
회원정보, 이용권 구매·결제·권한 및 사용 내역, 서비스 이용이력, 서비스 이용을 위하여 수집·처리에 동의한 항목 및 서비스 이용과정에서 생성·가공된 정보 등
서비스 혼선 방지 및 회원 정보 복구 요청 대응을 위하여 관련 기록을 처리 목적의 달성, 동의철회 또는 회원탈퇴 시점 이후 3개월간 보관<br>
3개월<br>

프로모션 이용기록<br>
이용기록(프로모션 혜택 이용 기록)<br>
프로모션에 대한 부정 이용을 방지하기 위하여 프로모션 혜택 적용 기록 보관<br>
5년<br>

[법령에 따른 보존]<br>
구분	처리 정보 항목	보관사유	기간<br>

통신비밀 보호법<br>
서비스 방문 기록<br>
법령에 따른 보존<br>
3개월<br>

전자상거래 등에서의 소비자 보호에 관한 법률<br>

계약 또는 청약철회 등에 관한 기록<br>
법령에 따른 보존<br>
5년<br>

대금결제 및 재화 등의 공급에 관한 기록<br>
법령에 따른 보존<br>
5년<br>

소비자의 불만 또는 분쟁처리에 관한 기록<br>
법령에 따른 보존<br>
3년</p>

<p>4. 개인정보 수집 및 이용 동의를 거부할 권리<br>

위의 개인정보 수집 및 이용 동의를 거부할 권리가 있으며, 동의를 거부하실 경우에는 신작 콘텐츠 안내, 이벤트 및 프로모션 등의 정보 제공과 참여 기회가 제한됩니다.</p>

<p>5. 동의철회(수신거부) 방법<br>

이벤트 마케팅 수신 동의 시 이메일, SMS, 푸시(PUSH)에 수신동의 처리되며, 이후 정보수신 이메일 하단의 수신거부, SMS 하단의 수신거부 전화, 회원정보 수정 페이지 및 환경설정 페이지에서 개별적으로 수신거부가 가능합니다.</p></div>

 <th:block th:replace="fragments/footer :: footer"></th:block>
  

  </body>

</html>