<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/header :: header"></th:block>


<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<h4>광고성 정보 수신 동의</h4>
					<br>
					<div th:style="'color: white'">
						<p>
							용용플레이에서는 회원님이 수집 및 활용에 동의한 개인정보를 활용하여, 전자적 전송매체(SMS, 이메일, PUSH 등
							다양한 전송 매체)를 통해, 이벤트 및 마케팅에 대한 광고 정보를 전송할 수 있습니다.<br> 회원님은 광고
							수신에 대한 동의를 거부하실 권리가 있으며, 동의 거부 시에도 서비스의 이용이 가능합니다.
						<p>
					</div>

					<th:block th:replace="fragments/footer :: footer"></th:block>
</body>

</html>