<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>


<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
        
        	<h4>맞춤형 서비스 제공을 위한 제3자 제공 동의</h4><br>
        	<div th:style="'color: white'"><p>용용플레이 온라인 맞춤형 광고

회사는 이용자에게 온라인 맞춤형 서비스(광고 포함) 및 콘텐츠를 제공하고자 "방송통신위원회 온라인 맞춤형 광고 개인정보보호 가이드라인"을 준수하고 있습니다. 회사는 해당 가이드라인에 따라 온라인 맞춤형 광고를 직접 전송하거나, 제3의 사업자가 운영하는 웹 또는 앱을 통하여 온라인 맞춤형 광고를 전송합니다.</p>
<p>1. 개념정의<br>
• 온라인 맞춤형 광고: 행태정보를 처리하여 이용자의 관심, 흥미, 기호 및 성향 등을 분석 및 추정한 후 이용자에게 맞춤형으로 제공되는 온라인 광고
• 온라인 행태정보: 웹 사이트 방문 이력, 앱 사용 이력, 구매 및 검색이력 등 이용자의 관심, 흥미, 기호 및 성향 등을 파악하고 분석할 수 있는 온라인 상의 활동정보(행태정보라 함)</p>

<p>2. 당사가 처리하는 행태정보의 종류 및 수집 방법<br>
개인을 알아볼 수 없는 이용자의 서비스 이용 기록을 처리하며, 이 같은 정보는 서비스 이용 과정에서 자동으로 생성되어 저장됩니다.</p>

<p>3. 행태정보를 처리하는 목적<br>
행태정보를 통하여 이용자의 관심, 흥미, 기호 및 성향을 이해함으로써 관심 기반의 온라인 맞춤형 서비스(광고 포함)를 제공합니다.</p>

<p>4. 행태정보의 제공<br>
• 행태정보를 제공받는 사업자: 페이스북, 구글
• 행태정보의 처리 및 보유 기간: 동의 철회 또는 처리목적 달성일로부터 6개월까지</p>

<p>5. 온라인 맞춤형 광고를 위한 행태정보 처리 동의를 거부할 권리<br>
위의 동의를 거부할 권리가 있으며, 동의를 거부하실 경우에는 행태정보를 제공받는 사업자가 이용자의 행태정보를 처리할 수 없고, 이 경우 행태정보 제공을 통한 온라인 맞춤형 광고는 제공되지 않습니다. </p>

<p>6. 동의 철회(수신거부)의 방법<br>
회원정보 수정 페이지에서 동의를 철회(수신거부)하실 수 있습니다.</p>  </div>

 <th:block th:replace="fragments/footer :: footer"></th:block>
  

  </body>

</html>