<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>


<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
        
        	<h4>개인정보 수집 이용 동의</h4><br>
        	<div th:style="'color: white'"><p>1. 개인정보의 수집·이용 항목 및 목적<br>

회사는 다음의 목적으로 개인정보를 처리하며, 이외의 용도로는 이용하지 않습니다. 다음 목적 이외의 용도로 개인정보를 처리하거나, 이용 목적을 변경하는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행합니다.<br>
※ 필수항목 이외에 선택항목은 수집 시점에 동의를 받으며, 선택항목 수집 동의를 거부하는 경우에도 서비스 이용은 가능합니다.</p>

<p>구분	수집·이용하는 개인정보의 항목	수집·이용 목적</p>

<p>필수<br>	
이름, ID(이메일 주소), 비밀번호, 회원번호, 서비스이용기록<br>
* 스카이라이프 제휴 서비스 이용 고객의 경우에는 셋톱박스 기기 전용 가상의 회원 ID를 부여하여 수집합니다.<br>
회원 가입 및 서비스 제공(기능 개선 등 향상된 서비스 제공을 포함), 서비스 이용 통계 분석을 통한 맞춤형 서비스·콘텐츠 제공, 민원처리를 위한 분석</p>

<p>필수	<br>
카카오	이름, 회원번호, SNS연동코드, 이메일주소	<br>
네이버	이름, 회원번호, SNS연동코드, 이메일주소<br>
구글	이름, 회원번호, SNS연동코드, 이메일주소<br>
SNS로그인을 통한 회원 가입<br>
(※ 일반회원 가입의 필수 정보 이외에도 이용자가 연동하도록 설정한 계정정보 등이 추가 수집됩니다.)<br>

※ 서비스 이용 과정에서 IP주소, 쿠키, 온라인행태정보, 서비스이용기록, 기기정보 등이 자동으로 생성되어 수집될 수 있습니다.</p>


<p>2. 개인정보의 보유·이용 기간<br>

회사는 서비스 혼선 방지 및 회원 정보 복구 요청 대응을 위하여 내부방침에 따라 처리 목적의 달성, 동의철회 또는 회원탈퇴 시까지 회원의 개인정보를 보관합니다. 다만, 별도의 동의를 얻은 경우 또는 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도로 분리하여 저장·관리합니다.<br>


[내부방침에 의한 경우]<br>
구분	처리 정보 항목	처리 목적 및 보관사유	기간
서비스 이용기록	회원정보, 이용권 구매·결제·권한 및 사용 내역, 서비스 이용이력, 서비스 이용을 위하여 수집·처리에 동의한 항목 및 서비스 이용과정에서 생성·가공된 정보 등	서비스 혼선 방지 및 회원 정보 복구 요청 대응을 위하여 관련 기록을  처리목적의 달성, 동의철회 또는 회원탈퇴 시점 이후 3개월간 보관	3개월
프로모션 이용기록	이용기록(프로모션 혜택 이용 기록)	프로모션에 대한 부정 이용을 방지하기 위하여 프로모션 혜택 적용 기록 보관	5년<br>
[법령에 따른 보존]<br>
구분	처리 정보 항목	보관사유	기간<br>
통신비밀 보호법	서비스 방문 기록	법령에 따른 보존	3개월<br>
전자상거래 등에서의 소비자 보호에 관한 법률	계약 또는 청약철회 등에 관한 기록	법령에 따른 보존	5년<br>
대금결제 및 재화 등의 공급에 관한 기록	법령에 따른 보존	5년<br>
소비자의 불만 또는 분쟁처리에 관한 기록	법령에 따른 보존	3년</p>


<p>3. 개인정보 수집 및 이용 동의를 거부할 권리<br>

위의 개인정보 수집 및 이용 동의를 거부할 권리가 있으며, 회원가입에 필요한 최소한의 개인정보 수집·이용에 대한 동의를 거부하실 경우에는 회원가입이 제한됩니다.</p></div>

 <th:block th:replace="fragments/footer :: footer"></th:block>
  

  </body>

</html>