<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- header 입니다. -->
<th:block th:replace="fragments/adminheader :: adminheader"></th:block>
<style>

a {
	color: #080808;;
	text-decoration: none !important;
	font-size: 15px;
}

a:hover {
	color: #587D84;
	}
    </style>

</head>
<body class="sb-nav-fixed  th:align="center"">

   <div id="layoutSidenav">
      <!-- mid 입니다. -->
      <th:block th:replace="fragments/adminmid :: adminmid"></th:block>
      <!--  <div id="layoutSidenav">와 중간은 꼭 넣어주어야 함.-->
      <div id="layoutSidenav_content">
         <main>
         <!-- 여기까지는 꼭 넣어주기(어드민) 아래 footer도 있음 -->

            <div class="container-fluid px-4">
               <h1 class="mt-4">용용플레이</h1>
               <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active">전회원 보기</li>
               </ol>

               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-table me-1"></i> 영화
                  </div>
                  <div class="card-body">
                     <table id="movieTable">
						<thead>
							<tr>
								<th>아이디</th>
								<th>이름</th>
								<th>이용권</th>
								<th>가입일</th>
								<th>갱신일</th>
								<th>종료일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="member, state : ${memberList}">
								<td th:text="${member.id}"></td>
								<td th:text="${member.name}"></td>
								<td th:text="${member.position}"></td>
								<td th:text="${#dates.format(member.reg_date, 'yyyy-MM-dd')}"></td>
								<td th:text="${#dates.format(member.renew_date, 'yyyy-MM-dd')}"></td>
								<td th:text="${#dates.format(member.end_date, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
                  </div>
               </div>            

            </div>
         </main>
      </div>
   </div>
   <!-- footer 입니다. -->
   <th:block th:replace="fragments/adminfooter :: adminfooter"></th:block>
</body>

</html>