<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- header 입니다. -->
<th:block th:replace="fragments/adminheader :: adminheader"></th:block>
<style>
      
a {
	color: #080808;;
	text-decoration: none !important;
	font-size: 15px;
}

a:hover {
	color: #587D84;
	}
    </style>

</head>
<body class="sb-nav-fixed  th:align="center"">

   <div id="layoutSidenav">
      <!-- mid 입니다. -->
      <th:block th:replace="fragments/adminmid :: adminmid"></th:block>
      <!--  <div id="layoutSidenav">와 중간은 꼭 넣어주어야 함.-->
      <div id="layoutSidenav_content">
         <main>
         <!-- 여기까지는 꼭 넣어주기(어드민) 아래 footer도 있음 -->
         
            <div class="container-fluid px-4">
               <h1 class="mt-4">용용플레이</h1>
               <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active"><a th:href="@{/insertMovie}">영화 등록하기</a></li>
               </ol>
               
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-table me-1"></i> 영화
                  </div>
                  <div class="card-body">
                     <table id="movieTable">
                        <thead>
                           <tr>
                              <th>코드</th>
                              <th>이미지</th>
                              <th>제목</th>
                              <th>장르</th>
                              <th>출연진</th>
                              <th>관람등급</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="movie, state : ${movieList}">
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}" th:text="${movie.movie_code}"></a></td>
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}"><img th:src="@{'/assets/images/movie/' + ${movie.image_path}}" >
                                  </a>
                                    </td>
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}" th:text="${movie.m_title_ko}"></a></td>
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}" th:text="${movie.genre}"></a></td>
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}" th:text="${movie.cast}"></a></td>
                              <td><a th:href="@{getMovie(movie_code=${movie.movie_code})}" th:text="${movie.rating}"></a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>            
            
            </div>
         </main>
      </div>
   </div>
   <!-- footer 입니다. -->
   <th:block th:replace="fragments/adminfooter :: adminfooter"></th:block>
</body>

</html>
