<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- header 입니다. -->
<th:block th:replace="fragments/adminheader :: adminheader"></th:block>
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/assets/css/admin.css}" />
<!-- js Files -->
<script type="text/javascript" th:src="@{/assets/js/admin.js}"></script>
</head>
<body class="sb-nav-fixed">

	<div id="layoutSidenav">
		<!-- mid 입니다. -->
		<th:block th:replace="fragments/adminmid :: adminmid"></th:block>

		<div id="layoutSidenav_content">
			<main>
				<!-- 여기까지는 꼭 넣어주기(어드민) 아래 footer도 있음 -->

				<!-- TV insert 시작 -->
				<div class="insert">
					<div class="insert insert-section">
						<div class="form-section">
							<div class="heading-section">
								<h4>티비 프로그램 등록 페이지 입니다.</h4>
								<h5>일련번호는 자동으로 생성됩니다.</h5>
							</div>
							<form th:action="@{/admin/insertTVProgram}" method="post" id="update" enctype="multipart/form-data" onsubmit="return tv_save()">
									<div class="input-table">
									<div class="insert-input">
										<h5>카테고리</h5>
									</div>
									<div>
										<select id="p_category" name="p_category">
												<option th:text="선택해주세요."></option>
												<option th:value="드라마">드라마</option>
												<option th:value="예능">예능</option>
												<option th:value="시사교양">시사교양</option>
												<option th:value="애니">애니</option>
												<option th:value="해외시리즈">해외시리즈</option>
										</select>
									</div>
									
									<div class="insert-input">
										<h5>제목</h5>
									</div>
									<div>
										<input type="text" name="p_title" id="p_title" placeholder="제목을 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>감독</h5>
									</div>
									<div>
										<input type="text" name="p_director" id="p_director" placeholder="감독을 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>작가</h5>
									</div>
									<div>
										<input type="text" name="p_writer" id="p_writer" placeholder="작가를 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>방영기간</h5>
									</div>
									<div>
										<input type="text" name="airing_period" id="airing_period" placeholder="방영기간을 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>방송사</h5>
									</div>
									<div>
										<input type="text" name="p_board_casting" id="p_board_casting" placeholder="방송사를 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>국가</h5>
									</div>
									<div>
										<input type="text" name="nation" id="nation" placeholder="국가를 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>등급</h5>
									</div>
									<div>
										<input type="text" name="rating" id="rating" placeholder="등급을 입력해주세요.">
									</div>
									
									<div class="insert-input">
										<h5>출연진</h5>
									</div>
									<div>
										<textarea name="p_cast" id="p_cast" cols="50" rows="3" placeholder="출연진을 입력해주세요."></textarea>
									</div>
									
									<div class="insert-input">
										<h5>줄거리</h5>
									</div>
									<div>
										<textarea name="description" id="description" cols="50" rows="10" placeholder="줄거리를 입력해주세요."></textarea>
									</div>
									
									<div class="insert-input">
										<h5><label for="image">이미지</label></h5>
									</div>
									<div>
										<input
											type="file" name="imageFile" id="image" accept="image/*">
									</div>
									
									<div class="insert-input">
										<h5><label for="banner">배너</label></h5>
									</div>
									<div>
										<input
											type="file" name="bannerFile" id="banner" accept="image/*">
									</div>
								</div>	
								

								<div class="link-block">
								<br>	
										<a th:href="@{/admin/adminPage}">메인으로</a> &nbsp; &nbsp;
									</div>
									<br> 
									<input class="insert_btn" type="submit" value="등록하기">
									</form>
								
							
						</div>
						</div>
						</div>
						
			</main>
		</div>
	</div>



	<!-- footer 입니다. -->
	<th:block th:replace="fragments/adminfooter :: adminfooter"></th:block>

</body>
</html>