<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<body>


<!-- ***** Board List Start ***** -->
					<div class="col-lg-12">
					<div class="community board-section">
					  <table>
						  <tr th:each="board, state : ${qnaList}">
							<td>
							  <a th:href="@{/gopost(b_seq=${board.b_seq})}">
								  <div class="community board">
									<span class="item" th:text="${board.b_category}"></span>
									<div class="board-info">
										<h4 th:text="${board.title}"></h4>
										<span th:text="${board.content}"></span>
										<div class="post-mini-bottom">
											<i class="fa fa-bullseye" th:text="${board.cnt}"></i>
											<i class="fa fa-thumbs-up" th:text="${board.b_like}"></i>
											<i class="fa fa-message" th:text="${board.replies.size()}"></i>
										</div>
									</div>
									<span class="id" th:text="${board.member.id}"></span>
								  </div>
							  </a>
							</td>
						  </tr>
					  </table>
					</div>
				  </div>
				  <!-- ***** Board List End ***** -->