<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- header 입니다. -->
<th:block th:replace="fragments/adminheader :: adminheader"></th:block>
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/assets/css/admin.css}" />
</head>
<body class="sb-nav-fixed">

	<div id="layoutSidenav">
		<!-- mid 입니다. -->
		<th:block th:replace="fragments/adminmid :: adminmid"></th:block>

		<div id="layoutSidenav_content">
			<main>
				<!-- 여기까지는 꼭 넣어주기(어드민) 아래 footer도 있음 -->


				<!-- 티비 에피소드 update 시작 -->
				<div class="insert">
					<div class="insert insert-section">
						<div class="form-section">
							<div class="heading-section">
								<h4>TV프로그램 에피소드 수정 페이지 입니다.</h4>
								<h5>수정해주시고 수정하기 버튼을 눌러주세요.</h5>
							</div>

						<form th:action="@{/admin/updateEpisode}" method="post" id="update" enctype="multipart/form-data" onsubmit="return episode_save()">
							
							<div class="input-table">
							
							<div class="insert-input">
								<h5>회차</h5>
							</div>
							<div>
								<input type="text" name="episode_num" id="episode_num" placeholder="회차를 입력해주세요." th:value="${episode.episode_num}">
							</div>
							
							<div class="insert-input">
								<h5>회차별 제목</h5>
							</div>
							<div>
								<input type="text" name="ep_title" id="ep_title" placeholder="제목을 입력해주세요." th:value="${episode.ep_title}">
							</div>
							
							<div class="insert-input">
								<h5>방영날짜</h5>
							</div>
							<div>
								<input type="date" name="airing_date" id="airing_date" th:value="${#dates.format(episode.airing_date, 'yyyy-MM-dd')}">
							</div>
							
							<div class="insert-input">
								<h5>방영시간</h5>
							</div>
							<div>
								<input type="text" name="running_time" id="running_time" placeholder="방영시간을 입력해주세요." th:value="${episode.running_time}">
							</div>
							
							<div class="insert-input">
								<h5>줄거리</h5>
							</div>
							<div>
								<textarea name="description" id="description" cols="50" rows="10" placeholder="줄거리를 입력해주세요." th:text="${episode.description}"></textarea>
							</div>
							
							<div class="insert-input">
								<h5>영상주소</h5>
							</div>
							<div>
								<input type="text" name="video_path" id="video_path" placeholder="영상주소를 입력해주세요." th:value="${episode.video_path}">
							</div>
							<!--  
							<div class="insert-input">
								<h5>TV 일련번호</h5>
							</div>
							<div>
								<input type="text" name="pseq" id="pseq" th:if="${tvprogram != null}"
										th:value="${episode.tvprogram.pseq}" readonly>
							</div>
							-->
							<!-- episode_num을 숨은 필드로 추가 -->
							<input type="hidden" name="hidden_episode_num" th:value="${episode_num}" />
							<input type="hidden" name="pseq" th:value="${episode.tvProgram.pseq}" />
																		
							</div>						
								
							<br>
							<input class="insert_btn" type="submit" value="수정하기">			
						</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>


	<!-- footer 입니다. -->
	<th:block th:replace="fragments/adminfooter :: adminfooter"></th:block>

</body>

</html>
