<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

 <th:block th:replace="fragments/header :: header"></th:block>


<body>


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
			
		  <div class="main-title">
			  <h1>커뮤니티</h1>
		  </div>
		  <div class="col-lg-12">
			<div class="community">
			  <div class="col-lg-12">
				  <div class="community heading">
					  
					 <!-- ***** Search Start ***** -->
					  <div class="community search-section">
					    <div class="search-input">
			                <form id="search" action="#">
			                  <input type="text" placeholder="Search" id='searchText' name="searchKeyword" onkeypress="handle" />
			                  <i class="fa fa-search"></i>
			                </form>
		                </div>
		                  
						<div class="main-button">
						  <a th:href="@{/insertBoard}">글 작성하기</a>
		                </div>
					  </div>
		              <!-- ***** Search End ***** -->
		              
				<!--  ***** Hot Post Start  ***** -->
               <div class="row">
                  <div class="col-lg-12">
                     <div class="community hot-post">
                       <h3>인기글</h3>
               
                        <div class="owl-features owl-carousel owl-theme">
                           <div th:each="hot, state : ${hotBoardList}" th:if="${hot.b_category ne 'qna' and hot.b_category ne 'info'}" class="community hot-post-section" >
                              <a th:href="@{/gopost(b_seq=${hot.b_seq})}">
                                 <div class="community post-mini">
                                    <span class="item" th:text="${hot.b_category}"></span>
                                    <h4 th:text="${hot.title}"></h4>
                                    <div class="post-mini-bottom">
                                       <i class="fa fa-bullseye" th:text="${hot.cnt}"></i>
                                       <i class="fa fa-thumbs-up" th:text="${hot.b_like}"></i>
                                       <i class="fa fa-message" th:text="${hot.replies.size()}"></i>
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
               
                     </div>
                  </div>
               </div>
               <!--  ***** Hot Post End  ***** -->
          	
          	<hr>
          	
          	<!-- Community Board Start -->
			<div class="col-lg-12">
				<div class="community heading">
					<div class="heading-section">
						<h3>새로운 글 모두보기</h3>
					</div>
					
					<div class="col-lg-12">
						<div class="community content-board">
				  
					<!-- ***** Category Select Start ***** -->
					<div class="community category-section">
					<span class="item main-border-button">
							<a th:href="@{/community}">전체목록</a>
						</span>
						<span class="item main-border-button">
							<a th:href="@{/community(category='qna')}">Q&A</a>
						</span>
						<span class="item main-border-button">
						   <a th:href="@{/community(category='info')}">공지</a>
						</span>
						<span class="item main-border-button">
							 <a th:href="@{/community(category='talk')}">수다</a>
						</span>
						<span class="item main-border-button">
						 	<a th:href="@{/community(category='review')}">후기</a>
						</span>
					</div>
					<!-- ***** Category Select End ***** -->
					
					<!-- ***** Board List Start ***** -->
					<div class="col-lg-12">
					<div class="community board-section">
					  <table>
						  <tr>
							<td>
							  <a th:href="faq">
								  <div class="community board">
									<span class="item">공지</span>
									<div class="board-info">
										<h4>자주하는 질문입니다.</h4>
										<span>Q&A에 망설이지 말고 질문해주세용</span>
									</div>
									<span class="id">관리자</span>
								  </div>
							  </a>
							</td>
						  </tr>
						  <tr th:each="board, state : ${boardList}">
							<td>
							  <a th:href="@{/gopost(b_seq=${board.b_seq})}">
								  <div class="community board">
									<span class="item" th:text="${board.b_category}"></span>
									<div class="board-info">
										<h4 th:text="${board.title}"></h4>
										<span th:text="${board.content}"></span>
										<div class="post-mini-bottom">
											<i class="fa fa-bullseye" th:text="${board.cnt}"></i>
											<i class="fa fa-thumbs-up" th:text="${board.b_like}"></i>
											<i class="fa fa-message" th:text="${board.replies.size()}"></i>
										</div>
									</div>
									<span class="name" th:text="${board.member.name}"></span>
								  </div>
							  </a>
							</td>
						  </tr>
					  </table>
					</div>
				  </div>
				  <!-- ***** Board List End ***** -->
				  
				</div>
		    </div>
		    
		    </div>
		  </div>
		</div>
      </div>
    </div>
  </div>
  
  
  <th:block th:replace="fragments/footer :: footer"></th:block>

  </body>

</html>