<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>자주하는 질문</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- header -->
<th:block th:replace="fragments/header :: header"></th:block>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>

li {
   list-style: none
}

a {
   text-decoration: none;
   font-size: 14px
}

.menu {
  width: 900px;
  overflow: hidden;
  margin: 25px auto;
}

.menu > li {
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #58C1D6;
  border-radius: 10px;
}

.menu a {
   color: #fff;
}

.submenu>li {
   line-height: 50px;
   background-color: 9ADBE8;
}

.submenu {
   height: 0; 
   overflow: hidden;
}

.menu>li:hover {
   height: auto;
   background-color: 9ADBE8;
   transition-duration: 0.5s;
}

.menu>li:hover .submenu {
   height: 250px; 
   transition-duration: 1s;
}
</style>



</head>
<body th:align="center">
   <script type="text/javascript" th:src="@{/assets/js/community.js}"></script>
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="page-content">
               <!-- 자주하는 질문 시작 -->
               <div class="insert">
                  <div class="insert insert-section">
                     <div class="form-section">
                        <div class="heading-section">
                           <h4>자주하는 질문입니다.</h4>
                           <h5>Q&A에 망설이지 질문해주세용</h5>
                        </div>
                        
                        <!-- 자주하는 질문 시작 -->
                        <ul class="menu">
                           <li>인터넷 익스플로러가 아닌 브라우저로 용용플레이를 이용할 수 있나용?
                              <ul class="submenu">
                                 <li>
                                 용용플레이는 크롬, 사파리, 파이어폭스로도 이용하실 수 있습니다.<br>
                                 다만, 사파리에서는 이용권 구입 시 결제 모듈이 정상 작동하지 않을 수 있습니다.
                                 </li>
                              </ul>
                           </li>
                           
                           <li>동영상을 보기 위한 PC 최소 사양을 알려주세용
                              <ul class="submenu">
                                 <li>
                                 이용하기 위한 최소사양은 다음과 같습니다.<br>
                                 * PC [최소사양]<br>
                                 - Windows: Windows 7 IE 10 이상 또는 Edge, Chrome, Firefox 브라우저 사용<br>
                                 - Mac: OS X Yosemite 10.10 이상<br>
                                 - Linux: 64비트 Ubuntu 14.04 이상, Debian 8 이상, openSUSE 13.3 이상 또는 Fedora Linux 24 이상<br>
                                 * PC 호환성이 낮은 환경 (최신 영화 및 해외시리즈 시청 제한)<br>
                                 - Internet Explorer에서 재생 불가 (10, 11 포함)<br>
                                 * 최신 Chrome, Firefox, Edge, Safari 브라우저에서 HTML5 player 사용 권장<br>                                 
                                 </li>                           
                              </ul>
                           </li>
                           
                           <li>맥 사용자도 용용플레이를 이용할 수 있나용?
                              <ul class="submenu">
                                 <li>
                                 맥 사용자도 용용플레이를 이용하실 수 있습니다. <br>
                                 다만, 결제 모듈이 맥에서는 정상 작동되지 않으므로 상품 구입 시 다른 PC를 이용해주시기 바랍니다.<br>                                 
                                 </li>                                 
                              </ul>
                           </li>
                           
                           <li>예고편이 안나와용.
                              <ul class="submenu">
                                 <li>
                                 용용플레이는 각 방송사에서 전송한 영상 분량을 그대로 서비스 하고 있습니다.<br>
                                 몇몇 방송이 예고편이 안나오는 것이 있음을 참고하여 주시고 오류가 아님을 알려드리며<br>
                                 오류의 여부는 용용플레이플레이어 재생시 좌측하단바의 재생시간을 비교해 보시면 알 수 있습니다.
                                 
                                 </li>                                 
                              </ul>
                           </li>                        
                        
                        <li>영상은 멈춰있고 소리만 나오는 현상은용?
                              <ul class="submenu">
                                 <li>
                                 휴대폰 설정에서 절전모드를 꺼짐(off)으로 설정하셔야 합니다. <br>
                                 절전모드를 켜놓으시면 휴대폰 설정에 따라 비디오 재생이 되지않을 수 있습니다.<br>
                                 절전모드 설정은 화면 상단의 통신상태바나 단말기 환경설정에서 할 수 있습니다. 
                                 
                                 </li>                                 
                              </ul>
                        </li>                        
                        
                        <li>방송을 보다가 차단되는 때가 있어용. 왜 그런걸까용?
                              <ul class="submenu">
                                 <li>
                                 해당 방송사가 사업권을 얻지 못한 방송 프로그램들은 서비스가 되지 않습니다.<br>
                                 용용플레이는 합법적인 콘텐츠만 서비스를 하고 있습니다.<br>
                                 더욱 많은 프로그램들의 서비스를 제공하기 위해 노력하겠습니다.
                                 
                                 </li>                                 
                              </ul>
                        </li>                  
                        
                        <li>동영상 재생중 1분 후에 끊길때가 있어용.
                              <ul class="submenu">
                                 <li>
                                 용용플레이는 구매 전 미리보기 서비스를 제공하고 있습니다.<br>
                                 무료 서비스를 제외한 LIVE와 VOD의 경우 1분, 영화는 3분 미리보기 서비스가 제공됩니다.<br>
                                 실제 서비스를 이용하시려면 이용권을 구입해주시기 바랍니다.                                 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>다시보기가 업로드가 늦거나 업로드가 되지 않아용
                              <ul class="submenu">
                                 <li>
                                 프로그램은 용용플레이사이트 메인상단 우측>검색창, 앱 검색 버튼을 이용하실 수 있으며
                                 LIVE 또는 VOD메뉴의 각 항목별로 조회해 보실 수 있습니다.<br>
                                 이외에 없는 프로그램들은 현재 용용플레이에서 입수중이거나 입수 예정이 없는 프로그램으로
                                 용용플레이에서는 현재시점으로 지상파 방송사에서 방영중인 최신의 프로그램들로 구성하여 서비스 하고 있습니다.
                                 </li>                                 
                              </ul>
                        </li>                  
                        
                        <li>다시보기가 업로드가 늦거나 업로드가 되지 않아용
                              <ul class="submenu">
                                 <li>
                                 용용플레이의 다시보기 업로드는 직접 인코딩하는 방식이 아니라
                                 각 해당 방송사에서 업로드한 파일을 받아와서 제공하는 방식으로
                                 해당 방송사 사정으로 업로드 지연 또는 제한될 수 있습니다.<br>
                                 일반적인 경우, MBC SBS 의 경우 5~30분 이내 KBS 의 경우 60~90분 이내 에 업로드가 완료되며
                                 해당 시간보다 지연되는 경우는 저작권 제한, 기타 문제로 인한 재편집, 방송사 시스템 오류 등의 사유로
                                 익일 업로드 또는 업로드가 제한될 수 있습니다.<br>
                                 용용플레이는 자체적으로 콘텐츠 계약을 하고 있지 않고, 방송사의 정책을 따르기 때문에
                                 방송사 사정에 의해 콘텐츠 제공에 제한이 있을수 있습니다. (저작권, 판권 등)
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>UHD(4K)로 시청 가능한 콘텐츠는 어떻게 알 수 있나용?
                              <ul class="submenu">
                                 <li>
                                 ■ UHD 시청이 가능한 환경인지 확인해 주세요.<br>
                                 1. 이용 중인 이용권을 확인해 주세요.<br>
                                  - 현재 이용 중이신 이용권과 시청 가능한 최고 화질에 대한 정보는 MY 페이지에서 확인해 주세요.<br>
                                 2. UHD 시청이 가능한 디바이스를 확인해 주세요.<br>
                                  - LG TV (WebOS 4.0 버전 이상)<br>
                                  - 삼성 TV (타이젠 3.0 버전 이상)<br>
                                 3. 네트워크를 확인해 주세요.<br>
                                  - 안정적인 UHD 시청을 위해서는 25Mbps 이상의 네트워크 환경이 필요합니다.<br>
                                  - 네트워크 사정에 따라 UHD 화질이 지원되지 않을 수 있습니다.<br>
                                 UHD 시청 가능한 환경이 갖추어졌다면, UHD 시청이 가능한 콘텐츠의 상세 화면 제목 아래에 4K 아이콘이 표시됩니다.<br>
                                 현재 일부 웨이브 오리지널, 해외 드라마, 영화를 UHD 화질로 감상할 수 있습니다.<br>
                                 더 많은 UHD 콘텐츠를 제공할 수 있도록 노력하겠습니다.<br>
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>브라우저 캐시 초기화 방법 안내해주세용
                              <ul class="submenu">
                                 <li>
                                 Chorme (v112 기준)<br>
                                 - 브라우저 주소창에 chorme://settings/clearBrowserData 입력 또는 설정 > 개인정보 보호 및 보안 > 인터넷 사용 기록 삭제<br>
                                 - 기간 > 전체 기간<br>
                                 - 선택 가능한 모든 항목 체크 > 삭제 버튼 클릭<br>
                                 - 브라우저 종료<br>
                                 MicroSoft Edge (v112 기준)<br>
                                 - 브라우저 주소창에 edge://settings/clearBrowserData 입력 또는 설정 > 개인정보, 검색 및 서비스 > 검색 데이터 지우기<br>
                                 - 시간 범위 > 모든 시간<br>
                                 - 선택 가능한 모든 항목 체크 > 지금 지우기<br>
                                 - 브라우저 종료<br>
                                 Whale (v3.19.166.16 기준)<br>
                                 - 브라우저 주소창에 whale://settings/clearBrowserData 입력 또는 설정 > 개인정보 보호 > 인터넷 사용 기록 삭제 > 기본<br>
                                 - 기간 > 전체 기간<br>
                                 - 선택 가능한 모든 항목 체크 > 삭제 버튼 클릭<br>
                                 - 브라우저 종료<br>
                                 Safari (v15.6.1 기준)<br>
                                 - 환경 설정 > 개인정보 보호 > 웹사이트 데이터 관리 > 모두 제거 > 완료<br>
                                 - 브라우저 종료<br>
                                 Firefox (v109 기준)<br>
                                 - 브라우저 주소창에 about:preferences#privacy 입력 또는 설정 > 개인정보 및 보안 > 쿠키 및 사이트 데이터 > 데이터 지우기<br>
                                 - 브라우저 종료<br>
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>안드로이드 TV로도 용용플레이를 이용 할 수 있나요?
                              <ul class="submenu">
                                 <li>
                                 2023년 12월 28일 안드로이드 TV앱이 구글 플레이 스토어에 오픈되었습니다.<br>
                                 안드로이드 TV 기기에서 구글 플레이 스토어에 접속 후 다운로드 하여 사용 가능합니다.<br>
                                 더욱 다양한 기기에서 용용플레이를 만나보세요!<br>
                                 사용 가능 기기<br>
                                 안드로이드 TV 기기 OS 5.0 이상<br>
                                 용용플레이 안드로이드 TV앱에 대한 많은 관심과 이용 부탁드리며,
                                 더 좋은 서비스를 위해 노력하겠습니다.<br>
                                 (일부 안드로이드 TV 기기에서는 용용플레이 안드로이드 TV앱의 다운로드가 불가능 할 수 있습니다.)                                 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>1:1 게시판 문의 내역 보관 기간은 어껗게 되나요?
                              <ul class="submenu">
                                 <li>
                                 법정 보유기간 3년을 준수합니다.<br>
                                 보존 연한 3년 초과분에 데이터는 일 배치하여 삭제되는 점 참고 부탁드립니다.
                                 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>Wi-Fi 신호가 약해서 동영상이 잘 재생되지 않아요
                              <ul class="submenu">
                                 <li>
                                 Wi-Fi의 신호가 약한 상태로 서비스를 이용할 경우 서비스 이용에 지연이 발생할 수 있습니다.
                                 아래 방법을 통해 Wi-Fi 신호가 약할 경우 자동으로 모바일 데이터로 전환되는 기능을 활성화해 주세요.
                                 *설정 방법*
                                 단말기 내 설정 > 연결 > Wi-Fi > 오른쪽 상단 '점 세 개' 버튼 > 고급 > Intelligent Wi-Fi 메뉴 내 '모바일 데이터로 전환' 활성화
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>한도 초과라는 메시지가 뜹니다.
                              <ul class="submenu">
                                 <li>
                                 휴대폰등 결제수단별로 월 한도금액이 있습니다. 미리 알아보신 후 이용해주시기 바랍니다.
                                 월 한도가 있는 경우 초과시, 결제과정중 에러가 발생하여 결제가 정상처리 되지 않습니다. 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>해외에서 사용할 수 있나요?
                              <ul class="submenu">
                                 <li>
                                 해외 여행객 대상 용용플레이 go 서비스 시행
                                 - 대상 국가 : 싱가폴, 인도네시아, 말레이시아, 필리핀, 베트남, 라오스, 태국 (동남아 7개국)
                                 - 이용 기간 : 해외에서 처음 콘텐츠를 스트리밍(재생) 시작한 시점부터 최대 7일간 이용 가능
                                 - 제공 콘텐츠 : 용용플레이 go 서비스의 콘텐츠 제공은 지상파+종편으로 제공되며, 일부 콘텐츠는 콘텐츠 제공사의 별도 요청, 저작권 문제, 기타 사업권역 문제 등으로 제한될 수 있음
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>용용플레이를 원활하게 이용하기 위한 인터넷 환경을 알려주세요
                              <ul class="submenu">
                                 <li>
                                 용용플레이를 사용하기 위해서는 최소 2Mbps 이상의 인터넷 회선이 필요합니다.
                                 안정적인 서비스가 이루어지기 위해서는 10Mbps급 이상의 인터넷 회선이 필요합니다.
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>불량 이용자는 어떻게 되나요?
                              <ul class="submenu">
                                 <li>
                                 용용플레이 약관에 명시된 불량 이용자는 사전경고 없이 서비스 사용이 중지 또는 계정이 삭제될 수 있습니다. 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>본인확인제를 관리, 감독하는 기관은 어디인가요?
                              <ul class="submenu">
                                 <li>
                                 방송통신위원회에서 게시판 이용자의 본인확인제에 대한 전반적인 사항에 대해 관리 및 감독을 수행합니다. 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        
                        <li>소리가 들리지 않아요.
                              <ul class="submenu">
                                 <li>
                                 용용플레이 APP에서 화면만 나오고 소리가 안 나오는 경우 단말기의 무음 스위치가 ON되어 있을 때가 많습니다.
                                 해당 스위치를 OFF 하신 후 다시 이용해주시기 바랍니다. 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>와이파이 환경에서 데이터요금
                              <ul class="submenu">
                                 <li>
                                 와이파이 환경에서는 데이터요금이 나가지않습니다.
                                 Wi-Fi/3G/LTE 네트워크 이동 환경에서 데이터 요금이 부과될 수 있사오니 요금 부과 방지를 위해서는 단말 자체 3G/LTE 설정 OFF 바랍니다. 
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>동영상을 개인 또는 학교 홈페이지에 올리고 싶어요.
                              <ul class="submenu">
                                 <li>
                                 용용플레이에서 제공하는 동영상은 저작권법의 보호를 받고 있습니다.
                                 이를 개인 또는 학교 홈페이지에 무단 링크 또는 업로드 하시면 법적인 제제를 받으시게 됩니다.
                                 </li>                                 
                              </ul>
                        </li>
                        
                        <li>예고편이 안나와요.
                              <ul class="submenu">
                                 <li>
                                 용용플레이는 각 방송사에서 전송한 영상 분량을 그대로 서비스 하고 있습니다.
                                 몇몇 방송이 예고편이 안나오는 것이 있음을 참고하여 주시고 오류가 아님을 알려드리며
                                 오류의 여부는 용용플레이플레이어 재생시 좌측하단바의 재생시간을 비교해 보시면 알 수 있습니다.                                 
                                 </li>                                 
                              </ul>
                        </li>         
                        
                        </ul>                  
                        
                        

                        <div class="link-block">
                           <a th:href="@{/main}">메인으로</a> &nbsp; &nbsp; <a
                              th:href="@{/community}">취소</a> <br>
                        </div>


                     </div>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- footer -->
   <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>