<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>


<body>
		  </div>
		  <div class="col-lg-12">
			<div class="community">
			  <div class="col-lg-12">
				  <div class="community heading">
					  
					
			<!-- boardDetail information -->
			<div class="detail-table">
				<table>
					<tr>
						<td class="em" th:text="카테고리"></td>  
						<td th:text="${board.b_category}"></td>
					</tr>
					
					<tr>
						<td class="em" th:text="제목"></td>
						<td class="em" th:text="${board.title}" width="80" colspan="2"></td>
					</tr>
					<tr>
						<td class="em" th:text="내용"></td>
						<td th:text="${board.content}" colspan="2"></td>
					</tr>
					<tr>
							<td class="em" th:text="작성일"></td>
						<td th:text="${#dates.format(board.write_date, 'yyyy-MM-dd')}"></td>
					</tr>
					<tr>
						<td class="em" th:text="작성자"></td>
						<td th:text="${board.member.name}"></td>
					</tr>
					<tr>
						<td class="em" th:text="조회수"></td>  
						<td th:text="${board.cnt}"></td>
					</tr>
					
				</table>
            </div>
            
            <hr>
          	
    
             </div>
          </div>
        </div>
      </div>
    </body>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</html>  