<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>게시글 작성</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- header -->
<th:block th:replace="fragments/header :: header"></th:block>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body th:align="center">
	<script type="text/javascript" th:src="@{/assets/js/community.js}"></script>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">
					<!-- 게시판 수정 시작 -->

					<div class="insert">
						<div class="insert insert-section">
							<div class="form-section" th:if="${session.member != null}">
								<div class="heading-section">
									<h4>게시글을 수정 할 수 있어용</h4>
									<h5>비방과 욕설 스포는 삭제가 될 수 있어용</h5>
								</div>
								<form th:action="@{/updateBoard}" method="post" id="update" onsubmit="return board_save()">
									<div class="input-table">
										 <table class="insertBoard" th:align="center" th:cellpadding="0" th:cellspacing="0">
											<tr>
											<td><input type="hidden" name="b_seq" th:value="${board.b_seq}" readonly></td>
											</tr>											
											<tr>
												<td>카테고리</td>
												<td><select id="b_category" name="b_category">
														<option th:text="선택해주세요."
															th:selected="${board.b_category eq null}"></option>
														<option th:value="qna"
															th:selected="${board.b_category eq 'qna'}">Q&A</option>
														<option th:value="talk"
															th:selected="${board.b_category eq 'talk'}">수다</option>
														<option th:value="review"
															th:selected="${board.b_category eq 'review'}">후기</option>
												</select></td>
											</tr>
											<tr>
												<td>작성자(ID)</td>
												<td><input type="text" name="id" th:value="${session.member.id}" readonly></td>
											</tr>
											<tr>
												<td>제목</td>
												<td><input type="text" name="title" id="title" th:value="${board.title}"></td>
											</tr>
											<tr>
												<td>내용</td>
												<td><textarea name="content" id="content" cols="50" rows="20">[[${board.content}]]</textarea></td>
											</tr>
										</table>
									</div>
									<div class="link-block">
										<a th:href="@{/main}">메인으로</a> &nbsp; &nbsp;  <a href="javascript:history.go(-1)">취소</a> <br>
									</div>
									<br>
									<input class="insert_btn" type="submit" value="게시글 수정" />
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>