<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>로그인페이지</h1>
    <form th:action="@{/layout/login}" method="post">
        <input type="text" name="id" required>
        <input type="password" name="password" required>
        <button type="submit">로그인</button>
    </form>
    <a th:href="@{/member/join}">가입</a><br>
    <a th:href="@{/member/findUserId}">아이디 찾기</a><br>
    <a th:href="@{/member/findUserPwd}">비밀번호 찾기</a><br>
</body>
</html>