<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>

<body>


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

		<!-- ***** Banner Start ***** -->
		<div class="owl-banner owl-carousel owl-theme">
		  <div class="banners" th:style="'background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
		  		url(/assets/images/banner-bg.jpg)'">
			  <div class="header-text">
				<h4>용용플레이</h4>
			  </div>
		  </div>
		  
		  <div class="banners" th:style="'background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
		  		url(/assets/images/harry.jpg)'">
			  <div class="header-text">
				<h4>해리포터</h4>
			  </div>
		  </div>
		</div>
		<!-- ***** Banner End ***** -->
          
          
         <!-- 인기 컨텐츠 -->
		<div class="row">
			<div class="col-lg-12">
				<div class="featured-contents header-text">
					<div class="heading-section">
						<h3>인기컨텐츠</h3>
					</div>
					
                <div class="owl-features owl-carousel">
				<tr th:each="movie, state : ${movieList}">
                  <div class="item">
                    <div class="thumb">
                      <img th:src="@{'/assets/images/movie/' + ${movie.image_path}}" alt="">
                      	<a th:href="@{moviedetail(movie_code=${movie.movie_code})}">
	                      <div class="hover-effect">
	                        	<h6>바로보기</h6>
	                      </div>
                      	</a>
                    </div>
                    <h4>[[${movie.m_title_ko}]]</h4>
                  </div>
				</tr>
                </div>
              </div>
            </div>
            

          
  
  <th:block th:replace="fragments/footer :: footer"></th:block>

  </body>

</html>
