<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>회원 정보 수정</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
   // 저장하기전 빈칸(수정에서는 비번, 이름, 핸드폰번호, 포지션만 변경 가능)
   function go_save() {
      var password = document.getElementById("password");
      var name = document.getElementById("name");
      var phone_number = document.getElementById("phone_number");

      // 비밀번호가 대문자, 소문자, 숫자, 특수문자를 최소한 1개씩 포함하고 8글자 이상인지 확인
      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      if (password.value == "" || password.length == 0) {
         alert("비밀번호를 입력해주세요.")
         password.focus();
         return false;
      } else if (passwordRegex.test(password)) {
         alert("비밀번호는 대문자, 소문자, 숫자, 특수문자를 최소한 1개씩 포함하고 8글자 이상이어야 합니다.");
         password.focus();
         return false;
      } else if (name.value == "" || name.length == 0) {
         alert("이름 입력해주세요.")
         name.focus();
         return false;
      } else if (phone_number.value == "" || phone_number.length == 0) {
         alert("핸드폰 번호를 입력해주세요.")
         phone_number.focus();
         return false;
      } else {
         return true;
      }
   }
</script>
</head>

<body>
   <th:block th:fragment="content">

      <h1>회원 정보 수정</h1>
      <form th:action="@{/modify}" method="post" id="modify"
         onsubmit="return go_save();">
         <table th:align="left" border="1" th:cellpadding="0"
            th:cellspacing="0">
            <tr>
               <td bgcolor="lightcyan" th:text="아이디"></td>
               <td><input type="text" name="id"
                  th:value="${session.member.id}" size="12" readonly></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="비밀번호"></td>
               <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="이름"></td>
               <td><input type="text" name="name" id="name"
                  th:value="${session.member.name}"></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="전화번호"></td>
               <td><input type="text" name="phone_number" id="phone_number"
                  th:value="${session.member.phone_number}"></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="이메일"></td>
               <td><input type="text" name="email"
                  th:value="${session.member.email}"></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="회원구분"></td>
               <td><select name="position"
                  th:value="${session.member.position}">
                     <option value="GUEST"
                        th:selected="${session.member.position == 'GUEST'}">GUEST</option>
                     <option value="BASIC"
                        th:selected="${session.member.position == 'BASIC'}">BASIC</option>
                     <option value="PREMIUM"
                        th:selected="${session.member.position == 'PREMIUM'}">PREMIUM</option>
               </select></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="가입일"></td>
               <td><input type="date" name="reg_date"
                  th:value="${#dates.format(session.member.reg_date, 'yyyy-MM-dd')}"
                  readonly></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="이용권갱신날짜"></td>
               <td><input type="date" name="renew_date"
                  th:value="${#dates.format(session.member.renew_date, 'yyyy-MM-dd')}"
                  pattern="yyyy-MM-dd"></td>
            </tr>
            <tr>
               <td bgcolor="lightcyan" th:text="이용권종료날짜"></td>
               <td><input type="date" name="end_date"
                  th:value="${#dates.format(session.member.end_date, 'yyyy-MM-dd')}"></td>
            </tr>
         </table>
         <input type="submit" value="수정 완료">
      </form>
      <a th:href="@{/member/main}">취소->메인 페이지로</a>
      <br>
      <a th:href="@{/member/delete}">탈퇴 -> 로그인 페이지</a>
   </th:block>
</body>

</html>