<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <th:block th:replace="fragments/header :: header"></th:block>

<body>
	
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
			
		<div class="main-title">
		  <h1>영화</h1>
		</div>

	<!-- 영화 전체 목록 -->
	<div class="row">
	  <div class="col-lg-12">
		<div class="featured-contents header-text">
		  <div class="heading-section">
			<h3>영화 전체 목록</h3>
		  </div>

		  <div class="owl-features owl-carousel">
			<div th:each="movie, state : ${movieList}" class="item">
			  <div class="thumb">
				<img th:src="@{'/assets/images/movie/' + ${movie.image_path}}" alt="">
				  <a th:href="@{moviedetail(movie_code=${movie.movie_code})}">
					<div class="hover-effect">
					  <h6>바로보기</h6>
					</div>
				  </a>
				</div>
			  <h4>[[${movie.m_title_ko}]]</h4>
			</div>
		  </div>
		</div>
	  </div>
	  
	<!-- 로맨스 -->
	<div class="row">
	  <div class="col-lg-12">
		<div class="featured-contents header-text">
		  <div class="heading-section">
			<h3>로맨스 영화</h3>
		  </div>

		  <div class="owl-features owl-carousel">
			<div th:each="romance, state : ${romanceList}" class="item">
			  <div class="thumb">
				<img th:src="@{'/assets/images/movie/' + ${romance.image_path}}" alt="">
				  <a th:href="@{moviedetail(movie_code=${romance.movie_code})}">
					<div class="hover-effect">
					  <h6>바로보기</h6>
					</div>
				  </a>
				</div>
			  <h4>[[${romance.m_title_ko}]]</h4>
			</div>
		  </div>
		</div>
	  </div>
	  
	<!-- 판타지 -->
	<div class="row">
	  <div class="col-lg-12">
		<div class="featured-contents header-text">
		  <div class="heading-section">
			<h3>판타지 영화</h3>
		  </div>

		  <div class="owl-features owl-carousel">
			<div th:each="fantasy, state : ${fantasyList}" class="item">
			  <div class="thumb">
				<img th:src="@{'/assets/images/movie/' + ${fantasy.image_path}}" alt="">
				  <a th:href="@{moviedetail(movie_code=${fantasy.movie_code})}">
					<div class="hover-effect">
					  <h6>바로보기</h6>
					</div>
				  </a>
				</div>
			  <h4>[[${fantasy.m_title_ko}]]</h4>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  <!-- 액션 -->
	<div class="row">
	  <div class="col-lg-12">
		<div class="featured-contents header-text">
		  <div class="heading-section">
			<h3>액션 영화</h3>
		  </div>

		  <div class="owl-features owl-carousel">
			<div th:each="action, state : ${actionList}" class="item">
			  <div class="thumb">
				<img th:src="@{'/assets/images/movie/' + ${action.image_path}}" alt="">
				  <a th:href="@{moviedetail(movie_code=${action.movie_code})}">
					<div class="hover-effect">
					  <h6>바로보기</h6>
					</div>
				  </a>
				</div>
			  <h4>[[${action.m_title_ko}]]</h4>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <!-- 드라마 -->
	<div class="row">
	  <div class="col-lg-12">
		<div class="featured-contents header-text">
		  <div class="heading-section">
			<h3>드라마 장르</h3>
		  </div>

		  <div class="owl-features owl-carousel">
			<div th:each="drama, state : ${dramaList}" class="item">
			  <div class="thumb">
				<img th:src="@{'/assets/images/movie/' + ${drama.image_path}}" alt="">
				  <a th:href="@{moviedetail(movie_code=${drama.movie_code})}">
					<div class="hover-effect">
					  <h6>바로보기</h6>
					</div>
				  </a>
				</div>
			  <h4>[[${drama.m_title_ko}]]</h4>
			</div>
		  </div>
		</div>
	  </div>

		<th:block th:replace="fragments/footer :: footer"></th:block>

</body>

</html>
