<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    <th:block th:replace="fragments/header :: header"></th:block>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-content">
				
             <!-- ***** image Start ***** -->
             <div class="feature-banner movie" 
                  th:style="'background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                  url(\'/assets/images/movie/' + ${movie.banner_path} + '\')'">
               <div class="row">
                 <div class="col-lg-12">
                   <div class="header-text">
                     <h4>[[${movie.m_title_ko}]]</h4>
                     <h6>[[${movie.open_year}]] &nbsp; [[${movie.running_time}]]분 &nbsp; [[${movie.genre}]]</h6>
                   </div>
                   <div class="play">
					    <span th:onclick="goMovieVideo([[${movie}]], [[${member}]])">
							<p class="play-text">재생하기</p>
				   		</span>
				   </div>
                 </div>
               </div>
            </div>
            <!-- ***** image End ***** -->
            
			<!-- detail information -->
			<div class="detail-table">
				<table>
					<tr>
						<td class="em" th:text="${movie.m_title_ko}" width="80" colspan="2"></td>
					</tr>
					<tr>
						<td th:text="${movie.description}" colspan="2"></td>
					</tr>
					<tr>
						<td class="em" th:text="개요"></td>
						<td>[[${movie.nation}]], [[${movie.open_year}]]</td>
					</tr>
					<tr>
						<td class="em" th:text="장르"></td>
						<td th:text="${movie.genre}"></td>
					</tr>
					<tr>
						<td class="em" th:text="출연"></td>
						<td th:text="${movie.cast}"></td>
					</tr>
					<tr>
						<td class="em" th:text="감독"></td>
						<td th:text="${movie.director}"></td>
					</tr>
					<tr>
						<td class="em" th:text="등급"></td>
						<td th:text="${movie.rating}"></td>
					</tr>
				</table>
            </div>
            
            
             </div>
          </div>
        </div>
      </div>
    </body>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</html>  