<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="fragments/header :: header"></th:block>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-content">
				
             <!-- ***** image Start ***** -->
             <div class="feature-banner tv" 
    				th:style="'background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
    				url(/assets/images/tv/' + ${tvProgram.banner_path} + ') '">
               <div class="row">
                 <div class="col-lg-12">
                   <div class="header-text">
                    <!--  <a th:href="'https://www.youtube.com/watch?v=' + ${tvProgram.video_path}" target="_blank">-->
                     <h4>[[${tvProgram.p_title}]]</h4>
                     <h6>[[${tvProgram.airing_period}]] &nbsp; &nbsp; [[${tvProgram.p_category}]]</h6>
                   </div> 
                 </div>
               </div>
            </div>
            <!-- ***** image End ***** -->
            
			<!-- detail information -->
			<div class="detail-table">
				<table>
					<tr>
						<td class="em" th:text="${tvProgram.p_title}" width="80" colspan="2"></td>
					</tr>
					<tr>
						<td th:text="${tvProgram.description}" colspan="2"></td>
					</tr>
					<tr>
						<td class="em" th:text="개요"></td>
						<td th:text="${tvProgram.nation} + ', ' + ${tvProgram.airing_period}"></td>
					</tr>
					<tr>
						<td class="em" th:text="장르"></td>
						<td th:text="${tvProgram.p_category}"></td>
					</tr>
					<tr>
						<td class="em" th:text="출연"></td>
						<td th:text="${tvProgram.p_cast}"></td>
					</tr>
					<tr>
						<td class="em" th:text="감독"></td>  
						<td th:text="${tvProgram.p_director}"></td>
					</tr>
					<tr>
						<td class="em" th:text="등급"></td>
						<td th:text="${tvProgram.rating}"></td>
					</tr>
				</table>
            </div>
            
            <hr>
            
            <!-- episope -->
            <div class="episode-table">
            	<table>
            		<tr th:each="epi, state : ${epiList}">
            			<div class="episode">
            					<a th:href="'https://www.youtube.com/watch?v=' + ${epi.video_path}" target="_blank">
							<div class="ep-image">
								<img th:src="@{'/assets/images/tv/' + ${tvProgram.banner_path}}"> 
								
									<div class="play">
									 
									<i class="fa fa-play"></i></div>
							</div>
							<div class="ep-info">								
							    <h5 th:text="${epi.ep_title}"></h5>
							    <div class="ep">
									<p th:text="${epi.running_time}"></p>
									<!--<p th:text="${epi.airing_date}"></p>-->
									<p th:text="${#dates.format(epi.airing_date, 'yyyy-MM-dd')}"></p>
								 </div>
								<span th:text="${epi.description}" class="ep-desc"></span>
								</a>
							</div>
							
						</div>
            		</tr>
            	</table>
            	<div class="toggle-btn">
	            	<buttton class="showmore" id="showmore">더보기</buttton>
	            	<buttton class="close" id="close">닫기</buttton>
            	</div>
            </div>
            
             </div>
          </div>
        </div>
      </div>
    </body>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</html>  