<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>어드민</title>
</head>
<body>
<th:block th:fragment="adminfooter">
<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4"><br><br>
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright© 용용플레이(주) All rights reserved.</div>
                            <div>
                                팀장 정민수
                                &middot;
                                류효정 &amp; 심혜린
                            </div>
                        </div>
                    </div>
                </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/assets/js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/static/assets/demo/chart-area-demo.js}"></script>
     	<script th:src="@{/static/assets/demo/chart-bar-demo.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/assets/js/datatables-simple-demo.js}"></script>
</th:block>
</body>
</html>