<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>아이디 중복 체크</title>

<script type="text/javascript">
        function findID() {
            // 아이디 사용시 클릭하면 join에 사용가능한 아이디 표시
            // => window.opener.document.폼이름.요소이름.value = 값; 형태로 표시 가능
            window.opener.document.fr.id.value = document.fr.id.value;
            window.opener.document.fr.reid.value = document.fr.id.value;
            window.close();
        }
    </script>
</head>
<body>
   <h1>아이디 중복 체크입니다.</h1>
   <form action="check_id" name="fr" method="post">
      <input type="text" name="id" th:value="${id}"> <input
         type="submit" value="중복확인" onclick="checkId()"><br>
      <div id="checkIdResult">
         <th:block th:if="${message == 1}">
            <div>
               사용 가능한 아이디 입니다.<br>
               <input type="button" value="아이디 사용" onclick="findID()">
            </div>
         </th:block>
         <th:block th:if="${message == 0}">
            <div>
               사용이 불가능한 아이디 입니다.<br> 다시 입력해주세요.
            </div>
         </th:block>
      </div>
   </form>
</body>
</html>