<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기</title>
	<script type="text/javascript">
		// 아이디 찾기
		function check_find_pwd() {
			// 아이디랑 이메일
			var idValue = document.getElementById("id").value;
			var emailValue = document.getElementById("email").value;
			// 이메일과 아이디를 모두 확인하려면 URL에 두 값을 추가
			var url = "check_find_pwd?id=" + idValue + "&email=" + emailValue;
			// 새 창으로 열기
			window.open(url, "_blank", "width=400,height=300");
		}		
	</script>
</head>

<body>
	<h2>비밀번호 찾기 찾기 페이지</h2>
	<form th:action="@{/find_pwd}" method="post">
		<label>아이디</label>
		<input type="text" name="id" id="id">
		<label>이메일</label>
		<input type="email" name="email" id="email">
		<input type="button" value="비밀번호 찾기" onclick="check_find_pwd()"><br><br>		
	</form>
	
	<a th:href="@{/login}">로그인 페이지로</a>
</body>
</html>