<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/header :: header"></th:block>

<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">
					<!-- 아이디 찾기 페이지 시작 -->
					<div class="modify">
						<div class="col-lg-8">
							<div class="modify modify-section">
								<div class="heading-section">
									<h2>비밀번호 찾기</h2>
									<h5>아이디와 이메일을 입력해주세용.</h5>
								</div>
								<div class="form-section">

									<form th:action="@{/check_find_pwd}" method="post">
										<div class="input_block">
											<h5>아이디</h5>
											<input type="email" name="id" id="id" placeholder="yongyong@example.com">
											<span id="findid-message"></span>
										</div>
										<div class="input_block">
											<h5>이메일</h5>
										<input type="email" name="email" id="email" placeholder="yongyong@example.com">
											<span id="findemail-message"></span>
										</div>
											<input class="signin_btn" type="button" value="비밀번호 찾기" onclick="check_find_pwd()"><br> <br>
										<div  th:align="center">
										<span id="searchpwd-message"></span><br>
										</div> 									</form>
									<div class="link-block">
									<a th:href="@{/login}">로그인</a> &nbsp; &nbsp; 
									<a th:href="@{/find_id}">아이디 찾기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>