<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/header :: header"></th:block>

<head>
<meta charset="UTF-8">

<title>아이디 찾기</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">
					<!-- 아이디 찾기 페이지 시작 -->
					<div class="modify">
						<div class="col-lg-8">
							<div class="modify modify-section">
								<div class="heading-section">
									<h2>아이디 찾기</h2>
									<h5>이메일과 핸드폰번호를 입력해주세용.</h5>									
								</div>
								<div class="form-section">

								<form th:action="@{/check_find_id}" method="post" name="fr">
										<div class="input_block">
											<h5>이메일</h5>
											<input type="email" name="email" id="email">
										</div>
										<div class="input_block">
											<h5>핸드폰 번호</h5>
											<input type="text" name="phone_number" id="phone_number" placeholder="'-' 제외 11자리 입력">
											<span id="phone-message"> </span>
										</div>
										<input class="signin_btn" type="button" value="아이디 찾기" onclick="check_find_id()"><br>
										<div  th:align="center">
										<span id="searchid-message"></span><br>
										</div> 								
									</form>
									<a th:href="@{/login}">로그인</a> &nbsp; &nbsp; 
										<a th:href="@{/find_pwd}">비밀번호 찾기</a>
									</div>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
   <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>