<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>회원 정보 수정</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
   // 저장하기전 빈칸(수정에서는 비번, 이름, 핸드폰번호 변경 가능)
   function modify_save() {
      var password = document.getElementById("password");
      var name = document.getElementById("name");
      var phone_number = document.getElementById("phone_number");
      console.log("update 성공"+phone_number);

    
    
    	 if (name.value == "" || name.length == 0) {
         alert("이름 입력해주세요.")
         name.focus();
         return false;
      } else if (phone_number.value == "" || phone_number.length == 0) {
         alert("핸드폰 번호를 입력해주세요.")
         phone_number.focus();
         return false;
      } else {
         return true;
      }
   }
</script>
</head>
<!-- header -->
<th:block th:replace="fragments/header :: header"></th:block>
<body>
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="page-content">
               <!-- 회원정보페이지 시작! -->
               <div class="modify">
                  <div class="col-lg-6">
                     <div class="modify modify-section">
                        <div class="heading-section">
                           <h2>회원 정보 수정</h2>
                           <h4>회원 정보를 수정할 수 있어용.</h4>
                           <h5>비밀번호, 이름, 핸드폰번호만 수정 가능해용.</h5>
                        </div>
                        <div class="form-section">
                           <form th:action="@{/modify}" method="post" id="modify" onsubmit="return modify_save()">
                              <div class="input_block">
                                 <h5>아이디</h5>
                                 <input type="text" name="id" th:value="${session.member.id}" readonly>
                              </div>
                           	 <div class="input_block">
                                 <h5>비밀번호</h5>
                                 <input type="password" name="password" id="password" th:value="${session.member.password}">
                              </div>
                              <div class="input_block">
                                 <h5 style="color: #ec6090;">이름</h5>
                                 <input type="text" name="name" id="name" th:value="${session.member.name}">
                              </div>
                              <div class="input_block">
                                 <h5 style="color: #ec6090;">핸드폰 번호</h5>
                                 <input type="text" name="phone_number" id="phone_number" th:value="${session.member.phone_number}">
                              </div>
                              <div class="input_block">
                                 <h5 style="color: #ec6090;">이메일</h5>
                                 <input type="text" name="email" th:value="${session.member.email}">
                              </div>
                              <div class="input_block">
                                 <h5>이용권</h5>
                                 <input type="text" name="position" th:value="${session.member.position}" readonly>
                              </div>
                              <div class="input_block">
                                 <h5>가입일</h5>
                                 <input type="date" name="reg_date" th:value="${#dates.format(session.member.reg_date, 'yyyy-MM-dd')}" readonly>
                              </div>
                              <div class="input_block">
                                 <h5>이용권 갱신일</h5>
                                 <input type="date" name="renew_date" th:value="${#dates.format(session.member.renew_date, 'yyyy-MM-dd')}" pattern="yyyy-MM-dd" readonly>
                              </div>
                              <div class="input_block">
                                 <h5>이용권 종료일</h5>
                                 <input type="date" name="end_date" th:value="${#dates.format(session.member.end_date, 'yyyy-MM-dd')}" readonly>
                              </div>
                              <div class="link-block">
                                 <a th:href="@{/main}">메인으로</a> &nbsp; &nbsp; <a th:href="@{/delete}">탈퇴</a>
                              </div>                              
                              <input class="signin_btn" type="submit" value="회원정보 수정" >
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer -->
   <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>